---
layout: default
---

<div class="page">
    <h1>{{ page.title }}</h1>
    <small>{{ page.date | date_to_string }}</small>
    <div class="content">
        {{ content }}
    </div>
    
    <div class="comment-and-share">
    <div class="share-and-jianshu">
        {% if page.jianshu %}<div class="pull-right"><strong><a href="{{ page.jianshu }}">去简书看</a></strong></div>{% endif %}
        <div class="bdsharebuttonbox" data-tag="share_1">
            <a class="bds_twi" data-cmd="twi"></a>
            <a class="bds_tsina" data-cmd="tsina"></a>
            <a class="bds_tqq" data-cmd="tqq"></a>
            <a class="bds_weixin" data-cmd="weixin"></a>
            <a class="bds_more" data-cmd="more"></a> 
            <a class="bds_count" data-cmd="count"></a>
<script>
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
    window._bd_share_config = {
		common : {
			bdText:"我在 @Astrian 的博客上发现这篇文章：{{ page.title }}"
		},
		share : [
			//此处放置分享按钮设置
		],
		slide : [
			//此处放置浮窗分享设置
		],
		image : [
			//此处放置图片分享设置
		],
		selectShare : [
			//此处放置划词分享设置
		]
	}
</script>
        </div>
        
    </div>
     <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'mdblogastrianfm'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
</div>
</div>